//font
$family-regular:  'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$family-title: 'Frank Ruhl Libre', serif;

//color
$primary: #322E4E;
$secondary: #CED4DA;
$tertiary: #5241FB;
$inverted: #fff;

//breakpoint
$b-desktop: 768px;